

body{
    
    justify-content: center;
    align-items: center;
}

main{
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    color: black;
    
}

.foto{
    height: 500px;
    margin: auto;
    display: block;
}

.texto{
    color: black;
    text-align: center;
}


.lista{
    font-size: larger;
    color: red;
    text-align: center;
}

.copi{
    color: black;
   float: right;
}