*{
    padding: 0;
    box-sizing: border-box;
}

body{
  
    justify-content: center;
    align-items: center;
}

main{
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    color: black;
    
}

.foto{
    height: 500px;
    margin: auto;
    display: block;
}

.texto{
    color: black;
    text-align: center;
}

.lista{
    font-size: larger;
    color: red;
}

.copi{
    color: black;
   float: right;
}